<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header}"></head>
<body class="container mt-5">

<h2>Lista Ventas</h2>

<form th:action="@{/guardarVenta}" method="post" class="form">
    <div class="form-group">
        <label for="producto">Productos: </label>
        <select class="form-control" id="producto" name="codProducto[]" required multiple onchange="mostrarCodigos()">
            <option value="" disabled selected>Seleccione productos</option>
            <option th:each="producto : ${productos}" th:value="${producto.codProducto}" th:text="${producto.nombreProducto}"></option>
        </select>
    </div>

    <div class="form-group">
        <label for="productoCodigo">Códigos de los Productos: </label>
        <input type="text" id="productoCodigo" name="codProducto" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label for="precio">Precio:</label>
        <input type="number" step="0.01" id="precio" name="precio" class="form-control" required />
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Guardar Venta</button>
</form>

<script>
    function mostrarCodigos() {
        var select = document.getElementById("producto");
        var selectedOptions = Array.from(select.selectedOptions);
        var codigos = selectedOptions.map(option => option.value);
        document.getElementById("productoCodigo").value = codigos.join(', ');
    }
</script>

<br>
<a th:href="@{/ventas}" class="btn btn-secondary">Ver Lista de Ventas</a>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>
