<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header}"></head>
<body class="container mt-5">

<h2>Guardar Producto</h2>

<form th:action="@{/guardarProducto}" method="post" class="form">

    <div class="form-group">
        <label for="codProducto">Código:</label>
        <input type="text" id="codProducto" name="codProducto" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="nombreProducto">Nombre:</label>
        <input type="text" id="nombreProducto" name="nombreProducto" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="ubicacion">Ubicacion:</label>
        <input type="text" id="ubicacion" name="ubicacion" class="form-control" required />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Guardar Producto</button>
</form>


<br>
<a th:href="@{/productos}" class="btn btn-secondary">Ver Lista de Productos</a>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>
