<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header}"></head>
<body class="container mt-5">

<h2>Lista Productos</h2>

<div class="mb-3">
    <a th:href="@{/agregarVenta}" class="btn btn-warning">Agregar ventas</a>
    <a th:href="@{/agregarProducto}" class="btn btn-danger">Agregar producto</a>
    <a th:href="@{/productos}" class="btn btn-primary">Ver productos</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Producto(s) ID</th>
            <th>Nombre(s)</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="producto : ${productos}">
            <td th:text="${producto.codProducto}"></td>
            <td th:text="${producto.nombreProducto}"></td>
            <td th:text="${producto.ubicacion}"></td>
        </tr>
    </tbody>
</table>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>
